
<!-- <div class="container">
    <p>Sign On</p>
    <form>
    <label >User ID/ Email Address</label>
    <input type="email" name="email" [(ngModel)]="email">
    </form>
     <form>
        <div class="form-mail" >
            <label >User ID/ Email Address</label>
            <input type="email" name="email" [(ngmModel)]="email">  
        </div>
    </form>  -->
<!-- </div> --> 

<div class="container">
    <p>Sign On</p>
    <form >
        <div class="login">
       
            <label>User ID/ Email Address</label><br><br>
            <input type ="email" required>
        
    </div>

    <div class="login">
       
            <label>Password</label><br><br>
            <input type ="password" required>
        
    </div>
    <div class="login">
        <input id= submit type ="submit" value="SIGN ON">
    </div>

    </form>
</div>
